* {
  margin: 0%;
  padding: 0%;
}

/* fonts st */
.abeezee-regular {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abeezee-regular-italic {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: italic;
}


/* fonts end */


.header_nav {
  display: grid;
  grid-template-columns: 10vw 3vw 65vw 3vw 18vw;
  grid-template-rows: 2.35vw;
  background-color: black;
  height: 2.35vw;

  #img1 {
    height: 5vw;
    margin-top: -1vw;
  }

  #img2 {
    height: 3vw;
    margin-top: -0.3vw;
  }

li{
display: inline-block;
list-style: none;
margin-top: 0.5vw; 
margin-left: 7vw;

}
ul{
font-family: "ABeeZee", sans-serif;;
font-size: 1vw;
display: flex;
justify-content: center;
margin-top: 0.;

}

a{
text-decoration: none;
color: white;
}

a:hover{
color: red;
}

}

.slider{
width: 100%;
height: 37.5vw;

}

.slide{img{ 
width: 100%;
height: 37.5vw;
}

}

.do {
  background-color: black;
  height: 30vw;
  width: 100%;

  h5 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 7vh;
    color: white;
  }
}

.mi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-top: 3vw;

  img {
    width: 13.027vw;
    height: 13.027vw;
  }
}

.dt {
  background-image: url(Bg\ Imaegs/bg1.jpg);
  height: 62vw;

  h5 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 3.5vw;
    color: white;
  }

 .dd{ 
  display: flex;
  justify-content: center;

  a:hover{ h4{
    color: red;
  }}
  
  h4 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 1vw;
    padding-top: 2vw;
    color: white;
    text-decoration: underline;
  }}
}

.mt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-top: 3vw;

  img {
    width: 21.044vw;
    height: 21.044vw;
  }
}

.mt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding-top: 2vw;

  #img3 {
    width: 28.559vw;
    height: 21.044vw;
  }

  #img4 {
    width: 36.576vw;
    height: 21.044vw;
  }
}

.df {
  background-color: black;
  height: 35vw;

  h5 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 2.5vw;
    padding-top: 3.5vw;
    color: white;
  }

  .mt3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 3vw;

    img {
      width: 25vw;
      height: 15vw;
    }
  }
}

hr {
  border: 2px solid #100d0d;

}

.jtr{
  margin-bottom: -1vh;
  width: 100%;
  img{
    width: 100%;
  }
}


footer {
  height: 35vw;
  background-image: url(Bg\ Imaegs/bg3.png);

  h3 {
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 1vw;
    padding-top: 2vw;
    color: white;
    display: inline-block;
  }

  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5vw;

    img {
      height: 0.5vw;
      background-color: aliceblue;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 75.1vw;
    }
  }

  .fe {
    display: grid;
    grid-template-columns: 1vw 4.5vw 4.5vw 3.5vw 10.5vw 36vw 2.5vw 2.5vw 2.5vw 2.5vw;
    padding-top: 4vw;

    img {
      height: 1.5vw;
      padding-top: 2vw;
    }
  }

  .fl {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 25vw;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}



@media (max-width: 1024px) {

  footer {
    height: 50vw;
  }

  .do {
    height: 35vw;
  }

  .dt {
    height: 60vw;
  }

  .df {
    height: 35vw;
  }

  

  footer {
    .fe {
      display: grid;
      grid-template-columns: 1vw 4.5vw 4.5vw 3.5vw 10.5vw 31vw 5.5vw 5.5vw 5.5vw 5.5vw;
      padding-top: 4vw;

      img {
        height: 3vh;
        padding-top: 4vh;
      }
    }

    h3 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 1vw;
      padding-top: 7vw;
      color: white;
      display: inline-block;
    }
  }
}


@media (max-width: 991px) {

  .header_nav {
    display: grid;
    grid-template-columns: 8vw 6vw 65vw 3vw 18vw;
    grid-template-rows: 2.35vw;
    background-color: black;
    height: 4.35vw;
  
    #img1 {
      height: 7vw;
      margin-top: -1vw;
    }
  
    #img2 {
      height: 5vw;
      margin-top: -0.3vw;
    }
  
    li {
      display: inline-block;
      list-style: none;
      margin-top: 1.2vw;
      margin-left: 7vw;
  
    }
  
    ul {
      font-family: "ABeeZee", sans-serif;
      font-size: 1.5vw;
      display: flex;
      justify-content: center;
      margin-top: 0.;
  
    }
  
    a {
      text-decoration: none;
      color: white;
    }
  
    a:hover {
      color: red;
    }
  
  }
  
  .slider {
    width: 100%;
    height: 37.5vw;
  
  }
  
  .slide {
    img {
      width: 100%;
      height: 37.5vw;
    }
  
  }

  .do {
    background-color: black;
    height: 100vw;
    width: 100%;
  
    h5 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 5.5vw;
      padding-top: 7vh;
      color: white;
    }
  }

  .mi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 3vw;
  
    img {
      width: 34vw;
      height: 34vw;
    }
  }

  .dt {
    background-image: url(Bg\ Imaegs/bg1.jpg);
    height: 140vw;
  
    h5 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 3.5vw;
      padding-top: 3.5vw;
      color: white;
    }
  
    h4 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 2vw;
      padding-top: 2vw;
      color: white;
      text-decoration: underline;
    }
  }
  
  .mt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 3vw;
  
    img {
      width: 21vw;
      height: 21vw;
    }
  }
  
  .mt2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding-top: 2vw;
  
    #img3 {
      width: 68vw;
      height: 50vw;
    }
  
    #img4 {
      width: 68vw;
      height: 40vw;
    }
  }

  .df {
    background-color: black;
    height: 166vw;
  
    h5 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 4.5vw;
      padding-top: 3.5vw;
      color: white;
    }
  
    .mt3 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3vw;
      padding-top: 3vw;
  
      img {
        width: 80vw;
        height: 48vw;
      }
    }
  }
  
  footer {
    height: 35vw;
    background-image: url(Bg\ Imaegs/bg3.png);
  
    h3 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 2vw;
      padding-top: 2vw;
      color: white;
      display: inline-block;
    }
  
    .line {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 0.5vw;
  
      img {
        height: 0.5vw;
        background-color: aliceblue;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75.1vw;
      }
    }
  
    .fe {
      display: grid;
      display: grid;
    grid-template-columns: 1vw 8.5vw 7.5vw 5.5vw 10.5vw 32vw 2.5vw 2.5vw 2.5vw 2.5vw;
      padding-top: 4vw;
  
      img {
        height: 1.5vw;
        padding-top: 2vw;
      }
    }
  
    .fl {
      display: flex;
      justify-content: center;
      align-items: center;
  
      img {
        height: 25vw;
      }
    }
  }
  
  .center {
    display: flex;
    justify-content: center;
  }

 .dt {.dd{ 
    display: flex;
    justify-content: center;
  
    a:hover{ h4{
      color: red;
    }}
    
    h4 {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: normal;
      text-align: center;
      font-size: 2vw;
      padding-top: 2vw;
      color: white;
      text-decoration: underline;
    }}}
  }
